<div class="bg-gray-800 text-white w-64 min-h-screen flex flex-col">
  <div class="flex items-center justify-center h-16 border-b border-gray-700">
    <h1 class="text-xl font-semibold">Raintonic Weather</h1>
  </div>
  <nav class="flex-grow">
    <ul class="mt-2">
      <li>
        <a href="#" [routerLink]="'/weather'" class="text-red-50 block py-2 px-4 hover:bg-gray-700 transition">Weather</a>
      </li>
      <li>
        <a href="#" [routerLink]="'/favorites'" class="block py-2 px-4 hover:bg-gray-700 transition">Favorites</a>
      </li>
    </ul>
  </nav>
</div>
